# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db